@use "src/styles/libs" as *;

.cards_wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 550px;
  padding: 30px;

  /* 1024px 이상 */
  @include desktop_screen {
    max-width: 750px;
  }
}
