@use "src/styles/libs" as *;

.provider {
  @include tablet_screen {
    width: calc(100% - $SIDEBAR_CLOSED);
  }
  &.sidebar_opened {
    @include tablet_screen {
      width: calc(100% - $SIDEBAR_OPENED);
    }
  }
  -webkit-transition: width 0.5s;
  transition: width 0.5s;

  min-height: 100vh;
}
